@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #4A5568;
    background-color: #EFDFE7;
}

.home header {
    background-color: #121212;
    background-image: url("../image/bgBanner.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.home header .row {
    position: relative;
    z-index: 9;
}

.home header:before {
    content: '';
    position: absolute;
    background-image: url(../image/layer1-banner.png);
    background-repeat: no-repeat;
    top: 0px;
    left: 0;
    width: 225px;
    height: 100%;
}

.home header:after {
    content: '';
    position: absolute;
    background-image: url("../image/layer2-banner.png");
    background-repeat: no-repeat;
    top: 0px;
    right: 0;
    width: 320px;
    height: 100%;
}
.home header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 4.285714285714286vw;
    line-height: 8.571428571428571vw;
}

.home header h1 span {
    transform: matrix(1, -0.06, 0.08, 1, 0, 0);
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
}

.home header h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.home header nav ul {
    list-style: none;
    gap: 56px;
}

.home header nav ul li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #F5F7FA;
    position: relative;
    z-index: 9;
}

.home header nav ul li a:hover {
    color: #F5F7FA;
}

.home header nav form {
    position: relative;
}

.home header nav form input {
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    height: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FE3796;
    width: 347px;
    background-color: #fff;
}

.home header nav form input::placeholder {
    color: #FE3796;
}

.home header nav form button {
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
    height: 52px;
    border: none;
    background-color: transparent;
    background-image: url("../image/send.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    border: none;
}

.btn-primary {
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    border-radius: 40px;
    padding: 0px 43px;
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
}

.btn-secondary {
    border: 1px solid #F5F7FA !important;
    background-color: transparent !important;
    padding: 0px 43px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    color: #F5F7FA;
}

.passoapasso {
    background-image: url("../image/bg-passoapasso.png");
    background-position: center -120px;
    background-repeat: no-repeat;
    background-size: contain;

}

.passoapasso h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    color: #131740;
    position: relative;
    z-index: 9;
}

section.melhores {
    background-color: #121212;
    background-image: url("../image/bg-melhores.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

section.melhores:before {
    content: '';
    position: absolute;
    width:  calc((0.5 * 1140px) + ((100% - 1140px) / 2));
    height: 100%;
    top: 0;
    right: 0;
    background-image: url("../image/Right.png");
    background-position: left -230px;
}

section.melhores h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    color: #FFFFFF;
}
section.melhores h2 span {
    background: -webkit-linear-gradient(to right, #9B4AEB, #3931F9);
    background: linear-gradient(to right, #9B4AEB, #3931F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.melhores p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F5F7FA;
    opacity: 0.6;
}

.btn-light {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FE3796;
    padding: 0px 43px;
    line-height: 52px;
    border: 1px solid #FE3796;
    border-radius: 40px;
    background-color: transparent;
}

.big-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #FC1994;
}
.big-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #9747FF;
}
.big-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #CB37FF;
}

section.nossos .box {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 24.5%;
}

section.nossos .box .infos {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(67px);
}

section.nossos .box .infos h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Explore Collection */
    color: #F5F7FA;
}

section.nossos .box .infos span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Explore Collection */
    color: #F5F7FA;
    opacity: 0.6;
}
.maisAcessados h2,
section.nossos h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height, or 150% */


    /* Primary */
    color: #131740;
}

.maisAcessados a,
section.nossos a {
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    color: #FE3796;
}


section.maisAcessados .box {
    border-radius: 16px;
}

section.maisAcessados figure {
    border-radius: 6.82801px;
    overflow: hidden;
}

section.maisAcessados h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-align: center;

    /* Neutral/Black */
    color: #000000;
}

.bg-meio {
    background-image: url("../image/bg-meio.png");
    background-position:  right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.seInscreva {
    position: relative;
}

.seInscreva:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../image/elementoLeft.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.seInscreva h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Primary */

    color: #131740;
}

.seInscreva p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    /* Primary */

    color: #131740;

    opacity: 0.6;
}

.seInscreva form input[type="submit"] {
    width: 123px;
    line-height: 37px;
    background: #FE3796;
    border: 1px solid #FE3796;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.seInscreva form {
    position: relative;
}

.seInscreva form input {
    padding: 0px 20px;
    line-height: 58px;
    background: #FFFFFF;
    border: 1px solid rgba(101, 103, 107, 0.1);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #777E91;
    width: 100%;
}

.publicacoes {
    background: #121212;
}


.publicacoes h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    color: #FFFFFF;
}

.publicacoes select {
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    background: transparent;
    padding: 0;
    border: none;
    color: #FE3796;
}

#coverflow {
    display: block !important;
}


.flipster__item__content {
    border-radius: 20.5926px;
    position: relative;
    overflow: hidden;
}

.facaParte .container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../image/bg-faca.png");
    border-radius: 30px;
    position: relative;
    z-index: 9;
}

.facaParte h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Neutral/White */

    color: #FFFFFF;

}

.facaParte p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Neutral/White */

    color: #FFFFFF;

    opacity: 0.6;
}

footer {
    margin-top: -150px;
    padding-top: 200px;
    background-color: #121212;
    background-image: url("../image/bg-footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Input field text */

    color: #777E91;
}

footer p {
    color: #FFFFFF;
}

footer ul.social {
    list-style: none;
    padding: 0;
    gap: 20px;
}

footer form {
    position: relative;
}

footer form input{
    padding: 0px 20px;
    line-height: 58px;
    background: #1B1B1B;
    border: 1px solid rgba(101, 103, 107, 0.1);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #777E91;
    width: 100%;
}

footer form input[type="submit"] {
    width: 28px;
    height: 28px;
    position: absolute;
    border: none;
    padding: 0;
    background-image: url("../image/send.png");
    top: 15px;
    right: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Input field text */

    color: #777E91;
}
footer span.title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */


    /* Neutral/White */

    color: #FFFFFF;
    margin-bottom: 22px;
    display: block;
}

footer ul.menu li{
    margin-bottom: 15px;
}

.gap-30 {
    gap: 30px;
}

@media(max-width: 768px){
    body.page header h1 {
        font-size: 24px;
    }

    .influenciadores .box {
        max-width: 100% !important;
        width: 100%;
    }

    .influenciadores .box img {
        max-width: inherit !important;
        width: 100% !important;
    }

    .seguidores ul {
        flex-direction: column;
    }

    section.melhores:before,
    .home header:before,
    .home header:after{
        display: none;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    button.loginBtn,
    button.next {
        padding: 0 24px;
        font-size: 18px;
    }

    .progress {
        min-width: 60%;
    }

    .logar h3, #steps .step h3 {
        font-weight: 800;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }



    button.btn.btn-light {
        padding: 0px 22px;
        line-height: 47px;
        font-size: 18px;
        margin: 0 auto;
        display: table;
    }

    form.seach {
        padding: 30px 20px 40px !important;
    }
    h1 {
        font-size: 24px;
        line-height: 48px;
    }
    h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .maisAcessados a, section.nossos a {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .publicacoes h2,
    .maisAcessados h2,
    section.nossos h2,
    section.melhores h2,
    .passoapasso h2 {
        font-size: 22px;
        line-height: 33px;
        width: 100%;
        text-align: center;
    }

    .publicacoes select {
        font-size: 22px;
        line-height: 33px;
    }

    .seInscreva:before,
    .home header:before {
        display: none;
    }
    .seInscreva h2 {
        font-size: 22px;
        line-height: 34px;
    }
}

.login,
.cadastro {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../image/bg-cadastro.png");
    background-color: #121212;
    background-size: cover;
}

.progress {
    min-width: 80%;
    height: 11px !important;
    border-radius: 50px !important;
}

.progress-bar {
    background-color: #5931F9 !important;
    border-radius: 50px;
}

button.loginBtn,
button.next {
    line-height: 52px;
    background: linear-gradient(0deg, #5931F9, #5931F9);
    border-radius: 40px;
    padding: 0 43px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: all 0.5s;
}
button.prev {
    background-image: url("../image/voltar.png");
    background-color: transparent;
    background-position: center -4px;
    border: none;
    width: 52px;
    height: 52px;
    color: transparent;
    padding: 0;
    margin-right: 18px;
}

.logar,
#steps {
    width: 100%;
}
#steps .step {
    display: none;
    width: 100%;
}
#steps .step.active {
    display: block;
}
.logar {
    display: block;
}

.logar h3,
#steps .step h3 {
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.boxPass #preview {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6f6f6f;
}

form label {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #F5F7FA;
    cursor: pointer;
}

form input {
    width: 100%;
    line-height: 63px;
    background: #FFFFFF;
    border: 1px solid rgba(101, 103, 107, 0.1);
    border-radius: 16px;
    padding: 0px 20px;
}

.aceiteTermos {
    position: relative;
}

input#aceite {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.aceiteTermos label a {
    color: #F5F7FA;
    text-decoration: underline;
}

input#aceite:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
}

input#aceite:checked:before {
    background: #5931F9;
}

input#aceite:checked:after {
    content: "";
    background-image: url("../image/check.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.boxPass {
    position: relative;
}

form p {

}
#todasOptions div input,
#validas div input,
#paixoes div input,
#options div input {
    display: none;
}
#validas div label,
#paixoes div label{
    width: 191px;
    line-height: 48px;
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    border-radius: 10px;
    padding-left: 57px;
    font-weight: 800;
    font-size: 14px;
    color: #F5F7FA;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}

#todasOptions div label,
#options div label {
    width: 191px;
    line-height: 48px;
    background: #fff;
    border-radius: 10px;
    padding-left: 57px;
    font-weight: 500;
    font-size: 14px;
    color: #131740;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}


#todasOptions div label:before,
#options div label:before {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../image/checked.png");
    background-position: center;
    background-repeat: no-repeat;
}

#validas div label:before,
#paixoes div label:before {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../image/unchecked.png");
    background-position: center;
    background-repeat: no-repeat;
}
#todasOptions,
#validas,
#paixoes,
div#options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

input#autoComplete {
    width: 100%;
    background: transparent;
    border: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 48px;
    color: #FFFFFF;
}


input#autoComplete:focus {
    outline: none !important;
}

.selcioneOpcoes,
.selcionePaixoes {
    position: relative;
    overflow-y: scroll;
    height: 215px;
}

div#sociais input {
    width: 100%;
    line-height: 63px;
    background: #FFFFFF;
    border: 1px solid rgba(101, 103, 107, 0.1);
    border-radius: 16px;
    padding: 0 20px;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 16px;
    color: #93989A;
}

div#sociais input::placeholder {
    opacity: 0.9;
}

div#sociais select {
    height: 68px;
    border-radius: 20px;
    width: 100%;
    padding: 0 24px;
    font-weight: 800;
    font-size: 16px;
    color: #060606;
    opacity: 0.9;
    margin-bottom: 29px;
}

.previewSocial input {
    margin-bottom: 0 !important;
    border: none !important;
    padding: 0 !important;
    color: #000000 !important;
    opacity: 0.9;
    font-weight: 800 !important;
}

div#sociais input:focus {
    outline: none !important;
}

.content {
    margin-bottom: 30px;
}


.canais label {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #F5F7FA;
    margin-bottom: 20px;
}

.previewSocial {
    background: #fff;
    line-height: 62px;
    border-radius: 16px;
    padding-left: 20px;
    color: #93989A;
    margin-bottom: 20px;
}

button.next:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transition: all 0.5s;
}

.logar p, .logar a {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #9F87FF;
}

.logar a {
    text-decoration: underline;
}

.page header nav ul li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;
}

.page header nav ul {
    list-style: none;
    gap: 30px;
    margin-bottom: 0 !important;
}

.page header {
    background-image: url("../image/Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-success {
    padding: 40px;


    /* Neutral/White */
    background: #FFFFFF;
    border-radius: 15px;
    max-width: 460px;
    text-align: center;
}

.box-success h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Neutral/Black */
    color: #000000;
}

.box-success p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    text-align: center;

    /* Input field text */
    color: #777E91;
}

.btn-success {
    line-height: 56px !important;
    background: linear-gradient(0deg, #5931F9, #5931F9);
    border-radius: 50px !important;
    padding: 0 !important;
    width: 100%;
    border: none !important;
}

body.page.sucesso {
    background-image: url("../image/bg-body.png");
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body.page {
    background: #F0F0F0;
}

.rounded-lg {
    border-radius: 20px !important;
}

form.seach {
    background: #613BF3;
    border-radius: 10px;
    padding: 40px 50px 60px;
    position: relative;
    z-index: 99;
    gap: 30px;
}

form.seach select {
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none !important;
    padding: 0 20px;
    font-weight: 500;
    font-size: 18px;

    /* Neutral/ 2 */

    color: #777E91;
}

input.btn.btn-seach {
    background-color: #FE3796;
    border-radius: 40px;
    padding: 0px 33px 0 66px;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background-image: url("../image/buscar.png");
    background-repeat: no-repeat;
    background-position: 22px center;
}

@media (min-width: 768px){
    .vh-md-100 {
        height: 100vh !important;
    }
}

.confContent,
.widget {
    background-color: #fff;
    padding: 29px 42px 40px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.confContent {
    padding: 29px 42px !important;
}

.confContent h2,
.widget h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */


    /* Neutral/Black */
    color: #000000;
}

.confContent p,
.widget p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    /* Input field text */
    color: #777E91;
}

.widget img {
    border-radius: 20px;
}

.confContent h2 {
    margin-bottom: 0;
}

.headerToggle {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.headerToggle:before {
    background-image: url(../image/closeOpen.png);
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.headerToggle.closeToggle:before {
    transform: rotate(180deg);
    transition: all 0.2s;
}

label.dragDrop {
    width: 100%;
    height: 250px;
    border: 1px dashed rgba(101, 103, 107, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    text-align: center;
}

input#newImage {
    display: none;
}

span.btn.btnUpload {
    border-radius: 30px;
    line-height: 35px;
    border: 1px solid #9B4AEB;
    padding: 0 30px;
    font-weight: 600;
    font-size: 14px;

    /* identical to box height, or 150% */
    text-align: center;

    /* Gradient */
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.contentToggle {
    padding: 20px 0;
}

.contentToggle div#sociais .canais label {
    color: #000;
}

.contentToggle div#sociais .canais input, .contentToggle div#sociais .canais select, .contentToggle div#sociais .canais .previewSocial {
    border: none;
    background-color: rgb(248 248 248);
}

.contentToggle div#sociais .canais {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #C6C6C6;
}

.contentToggle div#sociais .canais:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

span.pointer {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    text-decoration-line: underline;

    /* Gradient */

    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.contentToggle textarea {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 19px 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 250px;
}

.linha {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.coluna {
    width: 100%;
    position: relative;
    display: flex;
    gap: 10px;
}

.linha label {
    position: absolute;
    margin-bottom: 0;
    left: 20px;
    color: #777E91;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    top: 17px;
}

.linha select,
.linha input {
    width: 100%;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    border: none;
    line-height: 40px;
    height: 55px;
    padding: 15px 20px 0;
    transition: all 0.2s;
    font-size: 14px;
}

.linha select {
    padding-top: 0;
}

.linha input:focus {
    outline: none;
}

.linha label.small {
    font-size: 12px;
    top: 5px;
    transition: all 0.2s;
}

body.page footer {
    margin-top: 0;
    padding-top: 50px;
}

body.page main.content {
    margin-bottom: 0 !important;
}

.widget .checkVisib input {
    display: none;
}

.widget .checkVisib input {
    display: none;
}

.widget .checkVisib input + label:before {
    content: '';
    background: #f0f0f0;
    border-radius: 32px;
    width: 48px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.widget .checkVisib input + label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    border-radius: 32px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.widget .checkVisib input:checked + label:before {
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    border-radius: 32px;
    transition: all 0.2s;
}

.widget .checkVisib input:checked + label:after {
    background: #FCFCFD;
    left: 28px;
    transition: all 0.2s;
}

.widget .checkVisib {
    position: relative;
}

.widget .checkVisib label {
    padding-left: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.passoapasso .box h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.passoapasso .box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #4A5568;
}

span.curtidas {
    position: absolute;
    top: 13px;
    right: 30px;
    width: 66px;
    line-height: 31px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 23px;
    text-align: right;
    padding-right: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    background-image: url(../image/ncurtiu.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    transition: all 0.2s;
}

span.curtidas.curtiu {
    background-image: url(../image/curtiu.png);
    transition: all 0.2s;
}

.fotoInfo {
    border-radius: 20px;
}

.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

div#headerTabs .tablinks {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #777E91;
    padding-bottom: 20px;
    cursor: pointer;
}

div#headerTabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 20px;
    transition: all .2s;
}

div#headerTabs .tablinks.active {
    color: #000;
    border-bottom: 1px solid;
    transition: all .2s;
}

body.page.view {
    background: #F5F7FA;
}

body.page.view header {
    background-image: url("../image/header-view.png");
}

body.page.view .widget {
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    background-color: #F5F7FA;
    padding: 20px 15px 30px 15px;
}

.checks label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #777E91;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
}

.checks label span {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    text-align: center;

    /* Input field text */
    color: #777E91;
    border-radius: 12px;
    background: rgba(217, 217, 217, 0.2);
    padding: 2px 16px;
}

body.page.view .widget.foto {
    border: none;
}

body.page.view .confContent {
    padding: 0 !important;
    background: transparent;
}

body.page.view .confContent h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    /* identical to box height, or 150% */


    /* Neutral/Black */
    color: #000000;
}

body.page.view .confContent h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Neutral/Black */
    color: #000000;
}

body.page.view .confContent .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */


    /* Neutral/Black */
    color: #000000;
    margin-bottom: 20px;
    transition: all .2s;
}

body.page.view .confContent .valores p,
body.page.view .confContent .temasAbordados p,
body.page.view .confContent .sociaisAtivas p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 5px;
}

body.page.view .confContent .temasAbordados ul,
body.page.view .confContent .sociaisAtivas ul {
    padding: 0;
    list-style: none;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

body.page.view .confContent .temasAbordados ul li {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 38px;
    padding: 12px 20px;
}

body.page.view .confContent .valores,
body.page.view .confContent .temasAbordados,
body.page.view .confContent .sociaisAtivas {
    margin-bottom: 20px;
}

body.page.view .confContent .valores .bigValor{
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    /* or 150% */


    /* Neutral/Black */

    color: #000000;
}

body.page.view .confContent .valores span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */


    /* Grey */

    color: #65676B;
}

body.page.view .confContent .desc span {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(0deg, #5931F9, #5931F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}

body.page.view .formatoCampanha {
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    background-color: #F5F7FA;
    padding: 29px 30px 40px !important;
}

body.page.view .formatoCampanha .formato .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 20px;
    padding-bottom: 9px;
}

body.page.view .formatoCampanha .formato .title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */


    /* Neutral/Black */
    color: #000000;
    margin-bottom: 0;
    position: relative;
}

body.page.view .formatoCampanha .formato .title select {
    height: 38px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0px 30px 0px 20px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

body.page.view .formatoCampanha .formato .title h3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    bottom: -14px;
}

.seguidores {
    width: 100%;
    margin-bottom: 50px;
}

.projetosRealizados h2,
.seguidores h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0 15px;
    margin-bottom: 22px;
}

.seguidores ul {
    display: flex;
    padding: 0 15px;
    list-style: none;
    align-items: center;
    gap: 12px;
}

.seguidores ul li {
    background: #000000;
    backdrop-filter: blur(67px);
    border-radius: 20px;
    line-height: 67px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #F5F7FA;
}

.seguidores ul li span img {
    margin-right: 10px;
}

.seguidores ul li span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #F5F7FA;
}

.seguidores ul li:first-child span{
    text-transform: uppercase;
    font-size: 18px;
}

.influenciadores .box {
    max-width: 32%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    color: #F5F7FA;
    display: flex;
}

.influenciadores .box .infos {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(67px);
    width: 100%;
}

.influenciadores .box .infos h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.02em;

}

.influenciadores .box .infos .box-info div span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.6;
}

.influenciadores .box .infos .box-info div h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

body.page.view .widget h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 20px;
}

.sidebar h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 40px;
}
.box a:hover,
.box a {
    color: inherit;
    position: relative;
}

ul.checks {
    padding: 0;
    list-style: none;
}

ul.checks li {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}

.checks input:checked + label {
    color: #000000;
}

.checks input:checked + label span {
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
    color: #FFFFFF;
}

ul.checks li input {
    display: none;
}

.checks label:before {
    content: '';
    width: 15px;
    height: 15px;
    left: 0;
    position: absolute;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
}

.checks input:checked + label:before {
    background: linear-gradient(93.35deg, #9B4AEB 40.72%, #3931F9 97.46%);
}

.checks input:checked + label:after {
    content: '';
    width: 15px;
    height: 15px;
    left: 0;
    position: absolute;
    background-image: url("../image/check.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57%;
}

.checkButton {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.checkButton input {
    display: none;
}

.checkButton label {
    line-height: 42px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    padding: 0 20px;
    color: #000000;
    margin-bottom: 0;
}

.checkButton input:checked + label {
    background: linear-gradient(0deg, #5931F9, #5931F9);
    color: #fff;
}

label {
    cursor: pointer;
}

.category {
    margin-bottom: 17px;
}

.previewValor {
    width: 100%;
}

.confContent h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.confContent .previewValor {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    line-height: 49px;
    padding: 0 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    /* or 26px */


    /* Grey/01 */
    color: #93989A;
    opacity: 0.9;
}

.confContent .previewValor input {
    border: none;
    background: transparent;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */


    color: #000000;
}

:focus {
    outline: none !important;
}

.projetos {
    gap: 15px;
}

.projetos figure {
    border-radius: 20px;
    overflow: hidden;
}

.formatos table {
    width: 100%;
}

.formatos table th {
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    /* identical to box height, or 150% */


    /* Neutral/Black */
    color: #000000;
}

.formatos table td {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Neutral/Black */
    color: #000000;
}


.formatos table td {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 50px;
    color: #000000;
    border-bottom: 1px solid #DEDEDE;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
}

.contentToggle #todasOptions div label,
.contentToggle #options div label {
    background: rgba(217, 217, 217, 0.2);
}

video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.page.sucesso main.content:before {
    content: '';
    position: absolute;
    width: 100%;
    HEIGHT: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.formatos table td select {
    -webkit-appearance: auto;
    -moz-appearance: button-arrow-down;
    background-image: none;
}
